.wrapper {
  position: relative;
}

input {
  border: none;
  appearance: none;
  background: #333333;
  padding: 4px 12px;
  border-radius: 3px;
  width: 350px;
  height: 40px;
  outline: none;
  color: gray;
  font-size: 1.2rem;
}

input:focus::placeholder {
  color: transparent;
}

input::placeholder {
  color: 222;
  transition: color 0.3s ease;
}

button {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 40px;
  background-color: #333333;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 3px;
}

.smile {
  color: #f2f2f2;
}
